@model AplikasiSOP.ViewModels.ProgressVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h4 class="text-center col-sm-12"><b>Riwayat SOP</b></h4>
    @if (Model.BukuProgressVM.Count() == 0)
    {
        <div class="jumbotron center-block">
            <center><h4>Data tidak tersedia.</h4></center>
        </div>
    }
    else
    {
        <div class="panel-group" id="accordionbook">
            @foreach (var group in Model.BukuProgressVM)
                {
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <h3 class="col-md-6 panel-title">
                                <a data-toggle="collapse" data-parent="#accordionbook" href="#collapsebook@(group.IdBuku)" class="collapsed"><strong>@group.NoBuku. @group.NamaBuku</strong></a>
                            </h3>
                        </div>
                    </div>
                    <div id="collapsebook@(group.IdBuku)" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="panel-group" id="accordionbab@(group.IdBuku)">
                                @foreach (var group1 in group.BabProgressVM)
                                {
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <h3 class="col-md-12 panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordionbab@(group.IdBuku)" href="#collapsebab@(group1.IdBab)" class="collapsed"><strong>@group1.NoBab - @group1.NamaBab</strong></a>
                                                </h3>
                                            </div>
                                        </div>
                                        <div id="collapsebab@(group1.IdBab)" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <table id="detailsTable@(group1.IdBab)" class="table table-bordered table-hover table-responsive table-condensed table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">No</th>
                                                            <th class="text-center col-md-1">Sub Bab</th>
                                                            <th class="text-center col-md-2">Sub Sub Bab</th>
                                                            <th class="text-center col-md-1">Tanggal Berlaku</th>
                                                            <th class="text-center col-md-1">Tanggal Jatuh Tempo</th>
                                                            <th class="text-center col-md-1">Timeline</th>
                                                            <th class="text-center col-md-1">Aktivitas Progress</th>
                                                            <th class="text-center col-md-1">Progress (%)</th>
                                                            <th class="text-center col-md-1">Aktivitas Target</th>
                                                            <th class="text-center col-md-1">Target (%)</th>
                                                            <th class="text-center col-md-1">Status</th>
                                                            <th class="text-center col-md-1">Progress Status</th>
                                                            <th class="text-center col-md-1">Aksi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="tbody">
                                                        @{ var a = 1;}
                                                        @if (group1.DetailProgressVM.Count() == 0)
                                                        {
                                                            <tr><td colspan="13" rowspan="2" class="text-center"> Data not available </td></tr>
                                                        }
                                                        else
                                                        {
                                                            foreach (var item in group1.DetailProgressVM)
                                                            {
                                                                <tr>
                                                                    <td>@a</td>
                                                                    @{ a++;}
                                                                    <td>@item.DataTransaction.DetailTransaction.Transaction.SubBab.NamaSubBab</td>
                                                                    <td>@item.DataTransaction.DetailTransaction.Transaction.SubSubBab.NamaSubSubBab</td>
                                                                    <td class="text-center">@item.DataTransaction.DetailTransaction.Tgl_Berlaku.ToShortDateString()</td>
                                                                    <td class="text-center">@item.DataTransaction.DetailTransaction.Tgl_JatuhTempo.ToShortDateString()</td>
                                                                    <td class="text-center">@item.DataTransaction.DetailTransaction.Timeline.ToShortDateString()</td>
                                                                    <td>@item.DataTransaction.ActivityTimeline.AktivitasProgress</td>
                                                                    <td class="text-center">@item.DataTransaction.ActivityTimeline.SumPersentaseProgress.ToString("N2")</td>
                                                                    @if (item.DataTransaction.ActivityTimeline.Id == 16)
                                                                    {
                                                                        <td class="text-center">-</td>
                                                                        <td class="text-center">-</td>
                                                                        <td class="text-center">-</td>
                                                                        <td class="text-center">-</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@item.AktivitasTarget.AktivitasProgress</td>
                                                                        <td class="text-center">@item.AktivitasTarget.SumPersentaseProgress.ToString("N2")</td>
                                                                        <td class="text-center"><span class="label label-@item.Status.WarnaStatus">@item.Status.NamaStatus</span></td>
                                                                        <td class="text-center"><span class="label label-@item.DataTransaction.ProgresStatus.WarnaStatus">@item.DataTransaction.ProgresStatus.NamaStatus</span></td>
                                                                    }
                                                                    <td class="text-center">
                                                                        <a href="#" onclick="LoadView(@item.DataTransaction.DetailTransactionId)" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalView" data-placement="right" title="View"><i class="fa fa-eye"></i></a>
                                                                        <a href="#" onclick="LoadHistory(@item.DataTransaction.DetailTransactionId)" class="btn btn-info btn-xs" data-toggle="modal" data-target="#ModalHistory" data-placement="right" title="History"><i class="fa fa-history"></i></a>
                                                                        <a href="#" onclick="LoadDownload(@item.DataTransaction.DetailTransactionId)" class="btn btn-success btn-xs" data-toggle="modal" data-target="#ModalDownload" data-placement="right" title="Download"><i class="fa fa-download"></i></a>
                                                                    </td>
                                                                </tr>
                                                                            }
                                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                                                        }
                            </div>
                        </div>
                    </div>
                </div>
                                                                        }
        </div>
                                                                        }
</div>
<div class="modal fade" id="ModalView" tabindex="-1" role="dialog" aria-labelledby="ModalViewLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalViewLabel">Detail</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <fieldset>
                        <input type="hidden" id="IdDetailTrans">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Kelompok</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" readonly id="Kelompok" style="min-width:100%">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Buku</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" readonly id="Buku" style="min-width:100%">
                            </div>
                            <label class="col-sm-2 control-label">Bab</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" readonly id="Bab" style="min-width:100%">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sub Bab</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" readonly id="SubBab" style="min-width:100%">
                            </div>
                            <label class="col-sm-2 control-label">Sub Sub Bab</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" readonly id="SubSubBab" style="min-width:100%">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tanggal Berlaku</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" readonly id="TanggalBerlaku" style="min-width:100%">
                            </div>
                            <label class="col-sm-2 control-label">Tanggal Jatuh Tempo</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" readonly id="TanggalJatuhTempo" style="min-width:100%">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Timeline</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" readonly id="TanggalTimeline" style="min-width:100%">
                            </div>
                            <label class="col-sm-2 control-label">File</label>
                            <div class="col-sm-4 input-group">
                                <input type="text" class="form-control" readonly id="PathFiles">
                                <span class="input-group-btn" id="linkPathFiles"></span>
                            </div>
                        </div>
                        <div class="panel-group" id="accordion">
                            @foreach (var aspek in Model.AspekPedomanData)
                            {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <h3 class="col-md-12 panel-title">
                                            <a data-toggle="collapse" onclick="LoadIsiTabelKebijakan(@aspek.Id)" data-parent="#accordion" href="#collapsed@(aspek.Id)" class="collapsed">@aspek.Nama</a>
                                        </h3>
                                    </div>
                                </div>
                                <div id="collapsed@(aspek.Id)" class="panel-collapse collapse collapsemodal">
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <table id="TabelSummary@(aspek.Id)" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Bab Prosedur / Bab Prosedur</th>
                                                        <th>Hasil Review</th>
                                                        <th>Updating</th>
                                                        <th>Dasar Updating</th>
                                                        <th>Acuan Updating</th>
                                                        <th>Keterangan Sebelum</th>
                                                        <th>Keterangan Sesudah</th>
                                                        <th>Keterangan</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbodySummary@(aspek.Id)"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ClearScreen()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalHistory" tabindex="-1" role="dialog" aria-labelledby="ModalHistoryLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalHistoryLabel">History</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <fieldset>
                        <table id="TableModalHistory" class="table table-bordered table-hover table-responsive table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-6">Aktivitas Progress</th>
                                    <th class="text-center col-md-2">Progress (%)</th>
                                    <th class="text-center col-md-2">Tanggal Mulai</th>
                                    <th class="text-center col-md-2">Tanggal Selesai</th>
                                    <th class="text-center col-md-2">Durasi Kerja</th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ClearScreen()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDownload" tabindex="-1" role="dialog" aria-labelledby="ModalDownloadLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalDownloadLabel">Download Report</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <fieldset>
                        <table id="TableModalDownload" class="table table-bordered table-hover table-responsive table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-8">Aktivitas Progress</th>
                                    <th class="text-center col-md-4">Aksi</th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ClearScreen()">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <script>
        function ClearScreen() {
            $("#IdDetailTrans").val('');
            $("#Kelompok").val('');
            $("#Buku").val('');
            $("#Bab").val('');
            $("#SubBab").val('');
            $("#SubSubBab").val('');
            $("#TanggalBerlaku").val('');
            $("#TanggalJatuhTempo").val('');
            $("#TanggalTimeline").val('');
            $("#PathFiles").val('');
            $("#linkPathFiles").html('');
            $(".collapsemodal").removeClass("in");
        }

        function LoadView(id) {
            $.ajax({
                url: "@Url.Action("GetViewDetail", "Histories")/" + id,
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    ClearScreen();
                    $("#IdDetailTrans").val(id);
                    $("#Kelompok").val(result.Transaction.Bab.Kelompok.Nama);
                    $("#Buku").val(result.Transaction.Bab.Book.NamaBuku);
                    $("#Bab").val(result.Transaction.Bab.NamaBab);
                    $("#SubBab").val(result.Transaction.SubBab.NamaSubBab);
                    $("#SubSubBab").val(result.Transaction.SubSubBab.NamaSubSubBab);
                    $("#TanggalBerlaku").val(formatDate(result.Tgl_Berlaku));
                    $("#TanggalJatuhTempo").val(formatDate(result.Tgl_JatuhTempo));
                    $("#TanggalTimeline").val(formatDate(result.Timeline));
                    $("#PathFiles").val(result.PathFiles);
                    var deactive = '';
                    if (result.PathFiles == null) {
                        deactive = 'disabled="disabled" readonly="readonly"';
                    }
                    $("#linkPathFiles").html('<a href="@Url.Action("DownloadFile", "Histories")?filePath=' + result.PathFiles + '" class="btn btn-default" ' + deactive + '><i class="fa fa-download"></i></a>');
                }
            });
        }

        function LoadIsiTabelKebijakan(aspek) {
            var dettrans = $("#IdDetailTrans").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDataSummary", "Histories")",
                async: false,
                data: { 'dettrans': dettrans, 'aspek': aspek },
                dataType: "JSON",
                success: function (data) {
                    var html = '';
                    if (data == "") {
                        html += '<tr>';
                        html += '<td colspan="9" rowspan="2" class="text-center"> Data not available </td>';
                        html += '</tr>';
                    } else {
                        var a = 1;
                        $.each(data, function (index, val) {
                            html += '<tr>';
                            html += '<td>' + a + '</td>';
                            a++;
                            html += '<td><b>' + val.SubBabProsedur.Nama + '</b><br/>' + val.SubSubBabProsedur.Nama + '</td>';
                            html += '<td>' + val.HasilReview.Nama + '</td>';
                            html += '<td>' + val.Updating.Nama + '</td>';
                            html += '<td>' + val.DasarUpdating.Nama + '</td>';
                            html += '<td>' + val.AcuanUpdating.Nama + '</td>';
                            html += '<td>' + val.KetExisting + '</td>';
                            html += '<td>' + val.KetUpdating + '</td>';
                            html += '<td>' + val.Keterangan + '</td>';
                            html += '</tr>';
                        });
                    }
                    $('#tbodySummary' + aspek).html(html);
                }
            });
        }

        function LoadHistory(id) {
            $.ajax({
                url: "@Url.Action("GetHistory", "Histories")/" + id,
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    var html = '';
                    if (result == "") {
                        html += '<tr>';
                        html += '<td colspan="4" rowspan="2" class="text-center"> Data not available </td>';
                        html += '</tr>';
                    } else {
                        $.each(result, function (index, val) {
                            html += '<tr>';
                            html += '<td>' + val.ActivityTimeline.AktivitasProgress + '</td>';
                            html += '<td class="text-center">' + val.ActivityTimeline.SumPersentaseProgress.toFixed(2) + '</td>';
                            html += '<td class="text-center">' + formatDate(val.CreateDate) + '</td>';
                            if (val.ApproveDate == null) {
                                html += '<td class="text-center">-</td>';
                            } else {
                                html += '<td class="text-center">' + formatDate(val.ApproveDate) + '</td>';
                            }

                            html += '<td class="text-center">' + countDaysMinusWeekend(val.CreateDate, val.ApproveDate) + '</td>';
                            html += '</tr>';
                        });
                    }
                    $('#TableModalHistory .tbody').html(html);
                }
            });
        }

        function countDaysMinusWeekend(start, end) {
            var dateStart = new Date(parseInt(start.substr(6)));
            var dateEnd = new Date(Date.now());
            if (end != null) {
                dateEnd = new Date(parseInt(end.substr(6)));
            }
            console.log(dateStart +'-'+ dateEnd);
            var startDay = dateStart.getDate();
            var startMonth = dateStart.getMonth();
            var startYear = dateStart.getFullYear();
            var endDay = dateEnd.getDate();
            var endMonth = dateEnd.getMonth();
            var endYear = dateEnd.getFullYear();

            var sdate = new Date();
            var edate = new Date();
            var odays = 0;
            var total = 0;

            sdate.setFullYear(startYear, startMonth, startDay);
            edate.setFullYear(endYear, endMonth, endDay);

            odays = 6 - sdate.getDay();
            if (odays == 6) {
                odays = 0;
            }

            sdate.setFullYear(startYear, startMonth, startDay + odays);

            return Math.floor(((((edate.getTime() - sdate.getTime()) / 1000 / 60 / 60 / 24) / 7) * 5) + odays);
        }

        function LoadDownload(id) {
            $.ajax({
                url: "@Url.Action("GetListReport", "Reports")",
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    var html = '';
                    if (result == "") {
                        html += '<tr>';
                        html += '<td colspan="2" rowspan="2" class="text-center"> Data not available </td>';
                        html += '</tr>';
                    } else {
                        $.each(result, function (index, val) {
                            html += '<tr>';
                            html += '<td>' + val.Nama + '</td>';
                            html += '<td><form method="post"><button type="submit" class="btn btn-success btn-xs" formaction="/' + val.Controller + '/' + val.Method + '/' + id + '">Download</button></form></td>';
                            html += '</tr>';
                        });
                    }
                    $('#TableModalDownload .tbody').html(html);
                }
            });
        }

        function formatDate(dates) {
            date = new Date(parseInt(dates.substr(6)));
            var year = date.getFullYear();
            var month = (1 + date.getMonth()).toString();
            month = month.length > 1 ? month : '0' + month;
            var day = date.getDate().toString();
            day = day.length > 1 ? day : '0' + day;
            return day + '/' + month + '/' + year;
        }

    </script>
}

